* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    height: 25rem;
}



header {
    width: 100%;
    background: rgb(25, 35, 63);
    color: white;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem 0 5rem;
}

.menu {
    width: 50%;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;

}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(246, 162, 25);
}

/* fin header-------------------------------------------------------------------- */


section:nth-child(1) {
    display: flex;
    justify-content: space-between;
    color: white;
    background: rgb(25, 35, 63);
    padding: 5rem 5rem 0 5rem;
}

.profil {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
}

.profil ul {
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.profil li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: rgb(246, 162, 25);
    border-radius: 25px;
    width: 1.7rem;
    height: 1.7rem;
}

.profil i {
    color: rgb(246, 162, 25);
}

.profil button {
    width: 8rem;
    padding: 0.5rem;
    border-radius: 25px;
    border: none;
    background: rgb(246, 162, 25);
    box-shadow: 1px 1px 5px 1px rgb(246, 162, 25);
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 15rem;
    height: 15rem;
    border-radius: 150px;
    padding: 2rem;
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* fin----------------------------------------------------------------------------- */

section:nth-child(2) {
    display: flex;
    justify-content: space-between;
    color: white;
    background: rgb(43, 49, 74);
    padding: 5rem 5rem 2rem 5rem;
}

.apropos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 60%;
}

.apropos h1 span {
    color: rgb(246, 162, 25);
}

.apropos button {
    width: 8rem;
    padding: 0.5rem;
    border-radius: 25px;
    border: none;
    background: rgb(246, 162, 25);
    box-shadow: 1px 1px 5px 1px rgb(246, 162, 25);
}

.maphoto {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 19rem;
    height: 21rem;
    border-radius: 20px 100px 0 0;
}

.maphoto img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

/* fin---------------------------------------------------------------------- */

section:nth-child(3) {
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-direction: column;
    color: white;
    background: rgb(25, 35, 63);
    padding: 5rem 5rem 5rem 5rem;
}

.list{
    display: flex;
    gap: 2rem;
}

.categorie{
    background: rgb(43, 49, 74);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    border-radius: 20px;
}

h1 span{
    color: rgb(246, 162, 25);
}

.categorie button{
    width: 8rem;
    padding: 0.5rem;
    border-radius: 25px;
    border: none;
    background: rgb(246, 162, 25);
    box-shadow: 1px 1px 5px 1px rgb(246, 162, 25);
}

.categorie i{
   font-size: 5rem;
   color: rgb(246, 162, 25);
}

/* fin--------------------------------------------------------------------------------*/

section:nth-child(4) {
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-direction: column;
    color: white;
    background: rgb(43, 49, 74);
    padding: 5rem 5rem 5rem 5rem;
}

.projets{
    display: flex;
}