@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: Nunito;
}



section {
    min-height: 100vh;
}



header {
    background: #191f36;
    color: #fff;
    position: fixed;
    z-index: 9999;
    width: 100%;
    overflow: hidden;
}

header h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem 1rem 5rem;
}

.menu {
    width: 50%;
}

.menu i {
    display: none;
}

#menu-toggle {
    display: none;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

li {
    list-style: none;

}


a {
    font-size: 1.5rem;

    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #f49818;
}

.color {
    color: #f49818;
}

h1 {
    font-size: 5.6rem;
    font-weight: 700;
}

p {
    font-size: 1.6rem;
}

button {
    font-weight: 600;
    box-shadow: 1px 1px 5px 1px #f49818;
}

button:hover {
    transition: 0.5s ease-out;
    box-shadow: none;
}

/* fin header-------------------------------------------------------------------- */


section:nth-child(1) {
    display: flex;
    gap: 10rem;
    color: #fff;
    background: #191f36;
    padding: 20rem 5rem 0 5rem;
}

.profil {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

.profil h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.profil ul {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    width: 25%;
}

.profil li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: #f49818;
    border-radius: 50%;
    padding: 0.5rem;

}

.profil i {
    font-size: 2rem;
    color: #f49818;
}

.profil button {
    width: 8rem;
    padding: 0.5rem;
    border-radius: 25px;
    border: none;
    background: #f49818;

}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    padding: 2rem;
    overflow: hidden;
    animation: floatImage 2s ease-in-out infinite;
}


.image img {
    width: 100%;
    border-radius: 50%;
}

@keyframes floatImage {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* fin----------------------------------------------------------------------------- */

section:nth-child(2) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #fff;
    background: #262b40;
    padding: 30rem 5rem 0 5rem;
}

.apropos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;

}

.apropos h1 span {
    color: #f49818;
}

.apropos h3 {
    font-size: 2.6rem;
}

.apropos button {
    width: 8rem;
    padding: 1rem;
    border-radius: 25px;
    border: none;
    background: #f49818;

}

.maphoto {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 29rem;
    height: 31rem;
    border-radius: 20px 100px 0 0;
}

.maphoto img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

/* fin---------------------------------------------------------------------- */

section:nth-child(3) {
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-direction: column;
    color: #fff;
    background: #191f36;
    padding: 5rem 5rem 5rem 5rem;
}

.list {
    display: flex;
    gap: 2rem;
}

.categorie {
    background: #262b40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    border-radius: 20px;
}

h1 span {
    color: #f49818;
}

.categorie button {
    width: 8rem;
    padding: 0.5rem;
    border-radius: 25px;
    border: none;
    background: #f49818;
    box-shadow: 1px 1px 5px 1px #f49818;
}

.categorie i {
    font-size: 7rem;
    color: rgb(246, 162, 25);
}

.categorie:hover {
    transform: scale(1.02);
    transition: 0.5s ease;
    border: solid #f49818;
}

/* fin--------------------------------------------------------------------------------*/

section:nth-child(4) {
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-direction: column;
    color: #fff;
    background: #262b40;
    padding: 5rem 5rem 5rem 5rem;
}

.projets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.projets img {
    display: flex;
    max-width: 35rem;
    width: 100%;
    max-height: 25rem;
    height: 100%;
}

.images {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
    position: relative;
}

.images i {
    font-size: 1.5rem;
    color: black;
}

.images span {
    background: white;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images-overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    background: linear-gradient(to top, #f49818, transparent);
    text-align: center;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
}

.images:hover .images-overlay {
    transform: translateY(0);
    opacity: 1;
}


/* fin-------------------------------------------------------------------------------- */

section:nth-child(5) {
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-direction: column;
    color: #fff;
    background: #191f36;
    padding: 10rem 5rem 5rem 5rem;
}

.maps {
    width: 50%;
}

iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.niveau {
    display: flex;
    width: 90%;
    gap: 1rem;

}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem 3rem 25rem 3rem;
    width: 50%;
    gap: 1rem;
}

textarea {
    grid-column: span 2;
    background: #262b40;
    border: none;
    border-radius: 5px;
    padding: 1rem;
}

.niveau button {
    grid-column: span 2;
    justify-self: center;
    padding: 0.5rem;
    border-radius: 25px;
    border: none;
    background: #f49818;
    width: 10rem;
}

.contact input {
    background: #262b40;
    border: none;
    border-radius: 5px;
    padding: 1.5rem;
}

/* fin---------------------------------------------------------------------------------*/

footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    background: #262b40;
    color: #fff;
}

footer button {
    background: #f49818;
    border: none;
    border-radius: 5px;
    box-shadow: none;
}


footer button i {
    font-size: 2.4rem;
    color: black;

}



@media (max-width: 1024px){

    nav ul {
    gap: 1rem;
}

section{
    width: 100%;
}

section:nth-child(2) {
    flex-wrap: nowrap;
    gap: 2rem;
}

p {
        font-size: 1rem;
        width: 20rem;
    }

    h1 {
        width: 20rem;
        font-size: 3rem;

    }

    h3 {
        width: 20rem;
        font-size: 2rem;
    }

    .image{
        width: 60%;
        height: 60%;
    }

    .maphoto{
        width: 60%;
    }

     .projets {
        grid-template-columns: repeat(2, 1fr);
        border-radius: 20px;
    }

    footer{
        width: 100%;
    }
}



@media (max-width: 768px) {

    section:nth-child(2) {
    flex-wrap: wrap;
}

#home{
    padding-top: 10rem;
}

    nav ul {
        display: none;
        position: fixed;
        transform: translateY(30%);
        flex-direction: column;
        background: #191f36;
        width: 100%;
        justify-self: center;
        text-align: center;
    }


    .menu i {
        display: block;
        position: absolute;
        font-size: 3rem;
        top: 10px;
        right: 20px;

    }

    .menu li a {
        display: block;
    }

    #menu-toggle:checked~ul {
        display: block;
    }

    section:nth-child(1) {
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 5rem 5rem 5rem 5rem;
        gap: 5rem;

    }

    .profil {

        flex-direction: column;
        align-items: center;
    }

    .profil ul {
        display: flex;
        justify-content: center;
        gap: 1rem;
        width: 100%;
    }

    .image {
        width: 50%;
        height: 50%;
    }

    section:nth-child(2) {
        text-align: center;
        padding: 5rem 5rem 5rem 5rem;
        gap: 3rem;
    }

    .apropos {
        align-items: center;
    }

    .list {
        flex-wrap: wrap;
        justify-content: center;
    }

   

    .projets img {
        width: 100%;
        height: 100%;
    }

    .niveau {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1rem;

    }

    .maps {
        width: 100%;
    }

    iframe {
        width: 100%;
        height: 30rem;
        border-radius: 10px;
    }

    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3rem 3rem 25rem 3rem;
        width: 100%;
        gap: 1rem;
    }

    footer {
        align-items: center;
        flex-direction: column-reverse;
        gap: 1rem;
    }

    footer button {
        width: 3rem;
        align-self: center;
    }

    footer p{
        font-size: 1rem;
    }
}


@media (max-width: 425px) {


    section:nth-child(1) {

        gap: 5rem;

    }

    section {
        width: 100%;
    }

    p {
        font-size: 1rem;
        width: 20rem;
    }

    h1 {
        width: 20rem;
        font-size: 3rem;
    }

    h3 {
        width: 20rem;
        font-size: 2rem;
    }

    .profil ul {
        display: flex;
        justify-content: center;
        gap: 1rem;
        width: 20rem;
    }

    .profil li {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid;
        border-color: #f49818;
        border-radius: 50%;
        padding: 0.5rem;

    }

    .profil i {
        font-size: 2rem;
        color: #f49818;
    }

    .image {
        width: 80%;
        height: 80%;
    }

.maphoto{
    width: 90%;
}

    .contact {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3rem 3rem 3rem 3rem 25rem 3rem;
        width: 100%;
        gap: 1rem;
    }

    textarea {
        grid-column: span 1;

    }

    .niveau button {
        grid-column: span 1;
    }

    footer {
        width: 100%;
        align-items: center;
    }

}