*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}

section{
    height: 25rem;
}



header{
    width: 100%;
    background: rgb(25, 35, 63);
    color: white;
    padding: 1rem;
}

header nav{
    display: flex;
    justify-content: space-between;

   
  
}

.menu{
    width: 50%;
}

nav ul{
    display: flex;
    justify-content: space-between;
}

li{
    list-style: none;

}

a{
     text-decoration: none;
         color: white;
}

/* fin header-------------------------------------------------------------------- */ 


section:nth-child(1){
    display: flex;
    justify-content: space-between;
    color: white;
    background: rgb(25, 35, 63);
    padding: 5rem 0 5rem 5rem;
}

.profil{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
}

.profil ul{
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.profil li{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: rgb(246, 162, 25);
    border-radius: 25px;
    width: 1.7rem;
    height: 1.7rem;
}

.profil i{
    color: rgb(246, 162, 25);
}
.profil button{
    width: 8rem;
    padding: 0.5rem;
    border-radius: 25px;
    border: none;
    background: rgb(246, 162, 25);
    box-shadow: 1px 1px 5px 1px rgb(246, 162, 25);
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 15rem;
    height: 15rem;
    border-radius: 150px;
    padding: 2rem;
}

.image img{
width: 100%;
height: 100%;
 border-radius: 120px;
}